html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

body {
  font: 400 14px/1.42 'Open Sans', Arial, sans-serif;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #001821;
  background-image: url(../img//bg/elephant.jpg),
                      url(../img/bg/sunset.jpg);
  background-repeat: no-repeat;
  background-position: 0 0, 0 1872px;
  margin: 0;
}

a {
  color: inherit;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, p {
  margin: 0;
}

  .wrapper {
    display: block;
  }

  .conteiner {
    width: 1140px;
    display: block;
    margin: 0 auto;
  }

    .header {
      padding-top: 30px;
      position: relative;
      min-height: 120px;
    }

    .logo {
      position: absolute;
    }

        .menu {
          position: absolute;
          left: 165px;
          line-height: 3;
        }

          .menu__list {
            display: inline-block;
          }

            .menu__item {
              display: inline-block;
              margin-right: 50px;
            }

            .menu__item:last-child {
              margin-right: 0;
            }

            .menu__item--active .menu__link {
              color: #F5170E;
            }

              .menu__link {
                text-decoration: none;
              }

              .menu__link:hover {
                color: #F5170E;
              }

        .contacts {
          position: absolute;
          text-align: right;
          right: 0;
        }

          .contacts__phone {
            display: inline-block;
            text-decoration: none;
            font-size: 26px;
            line-height: 1;
            display: block;
          }

          .contacts__workhours {
            display: inline-block;
            text-align: end;
            font-size: 13px;
          }

          .contacts__workhours:hover {
            text-decoration: underline;
            cursor: pointer;
          }

    .description {
      margin-top: 75px;
      width: 510px;
    }

      .description__title {
        font-size: 72px;
        font-weight: 700;
      }

      .description__slogan {
        font-size: 18px;
        margin-top: 20px;
      }

      .button {
        display: inline-block;
        border-radius: 35px;
        border: 1px solid #F5170E;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        text-decoration: none;
      }

      .button--type--primary {
        margin-top: 30px;
        padding: 18px 40px;
        background-color: #F5170E;
        color: #fff;
      }

      .button--type--primary:hover {
        background-color: #DA0100;
      }

      .button--type--secondary {
        margin-top: 25px;
        padding: 17px 30px;
        background-color: #fff;
        color:#F5170E;
      }

      .button--type--secondary:hover {
        background-color: #F5170E;
        color: #fff;
      }

    .tours {
      display: block;
      margin-top: 243px;
    }

      .tours__title-elem {
        font-size: 36px;
        font-weight: 700;
      }

      .tours__title-icon {
        margin-left: 12px;
      }

      .tours__list {
        margin-top: 50px;
      }

        .tours__item {
          display: inline-block;
          vertical-align: top;
          margin-right: 23px;
          width: 362px;
          background-color: #fff;
          border-radius: 5px;
          color: #303030;
        }

        .tours__item:last-child {
          margin-right: 0;
        }

          .tours__wrapper {
            padding: 30px 0 25px 20px;
          }

            .tours__item-title {
              font-size: 24px;
              font-weight: 700;
              color: #000;
            }

            .condition {
              padding-top: 20px;
            }

              .condition__desc {
                display: inline-block;
                padding-right: 28px;
              }

              .condition__desc:last-child {
                padding-right: 0;
              }

                .condition__desc-icon {
                  padding-right: 8px;
                }

                .condition__desc-count {
                  vertical-align: top;
                  font-size: 16px;
                  line-height: 1.36;
                }

            .tours__text {
              padding-top: 18px;
              line-height: 1.5;
            }

    .news {
      margin-top: 127px;
    }

      .news__title {
        font-size: 36px;
        font-weight: 700;
      }

      .news__list {
        margin-top: 50px;
      }

        .news__item {
          display: inline-block;
          border-radius: 5px;
          width: 557px;
          height: 394px;
          vertical-align: top;
        }

        .plain {
          background-image: url(../img/content/plain.jpg);
        }

        .serf {
          background-image: url(../img/content/surfer.jpg);
        }

        .news__item {
          margin-right: 20px;
          position: relative;
        }

        .news__item:last-child {
          margin-right: 0;
        }

          .news__content {
            position: absolute;
            bottom: 25px;
            left: 30px;
          }
            .news__date {
              font-size: 14px;
            }

            .news__subtitle {
              padding-top: 15px;
              font-size: 24px;
              font-weight: 700;
            }

            .news__text {
              width: 483px;
              font-size: 16px;
              line-height: 1.5;
              min-height: 50px;
            }

      .pagination {
        margin-top: 50px;
        text-align: center;
      }

        .pagination__display, .pagination__list {
          display: inline-block;
          vertical-align: middle;
          font-size: 16px;
          line-height: 2;
        }

        .pagination__display {
          padding-right: 25px;
        }

          .pagination__item {
            display: inline-block;
            vertical-align: middle;
            padding-right: 5px;
          }

          .pagination__item:nth-child(7) {
            padding-right: 0;
          }

          .item__active {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            background-color: #fff;
          }

          .item__active .pagination__link {
            color: #F5170E;
            background-color: #fff;
            display: block;
            width: 32px;
            height: 32px;
            line-height: 2;
            text-align: center;
          }

            .pagination__link {
              display: block;
              width: 24px;
              height: 24px;
              line-height: 1.5;
              border-radius: 50%;
              position: relative;
              text-decoration: none;
              font-weight: 700;
            }

    .about {
      margin-top: 145px;
      margin-bottom: 55px;
      height: 552px;
    }

      .about__img {
        display: inline-block;
        vertical-align: top;
        border-radius: 5px;
      }

      .about__contetnt {
        display: inline-block;
        vertical-align: top;
        background-image: url(../img/content/mountains.jpg);
        border-radius: 5px;
        width: 785px;
        margin-left: -140px;
        margin-top: 97px;
        padding: 70px 0 65px 80px;
      }

        .about__title {
          font-size: 36px;
          font-weight: 700;
        }

        .about__text{
          margin-top: 35px;
          width: 500px;
          font-size: 16px;
          line-height: 1.69;
        }

        .button--about {
          margin-top: 43px;
        }

    .footer {
      padding-bottom: 55px;
      height: 146px;
      position: relative;
    }

      .line {
        width: 1142px;
        height: 1px;
        background: #FFFFFF;
        mix-blend-mode: normal;
        opacity: 0.1;
        margin-bottom: 50px;
      }

      .socials {
        position: absolute;
        right: 275px;
      }

        .socials__item {
          display: inline-block;
          position: relative;
          margin-right: 45px;
        }

        .socials__item:last-child {
          margin-right: 0;
        }

        .socials__link:before {
          content: " ";
          display: inline-block;
          background: center center no-repeat;
          block-size: cover;
          border-radius: 50%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 36px;
          height: 36px;
        }

          .socials__link--telegram:before {
            background-image: url('../img/icons/telegram.png');
          }

          .socials__link--vk:before {
            background-image: url('../img/icons/vk.png');
          }

          .socials__link--facebook:before {
            background-image: url('../img/icons/facebook.png');
          }

          .socials__link--instagram:before {
            background-image: url('../img/icons/instagram.png');
          }
          
          .socials__link:hover:hover {
            filter: invert(.5);
          }

      .contacts--footer {
        width: 265px;
      }

        .contacts__text {
          font-size: 11px;
          line-height: 1.5;
          text-align: top;
        }

