* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 400 14px/1.42 'Open Sans', Arial, sans-serif;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #001821;
  background-image: url(../img/elephant.png),
                      url(../img/sunset.png);
  background-repeat: no-repeat;
  background-position: 0 0, 0 1872px;
  width: 1920px;
}

a {
  color: inherit;
}

ul li {
  list-style: none;
}

  .wrapper {
    width: 1143px;
    display: block;
    margin: 0 auto;
  }

    .header {
      margin-top: 30px;
      display: inline-block;
      vertical-align: top;
    }

    .logo {
      display: inline-block;
      vertical-align: top;
      width: 85px;
    }

        .menu {
          display: inline-block;
          vertical-align: top;
          margin: 10px 0 0 78px;
          width: 265px;
        }

          .menu__list {
            display: inline-block;
            vertical-align: middle;
          }

            .menu__item {
              display: inline-block;
            }

            .menu__item--active .menu__link {
              color: #F5170E;
            }

            .menu__item:nth-child(2) {
              padding: 0 51px;
            }

              .menu__link {
                text-decoration: none;
              }

              .menu__link:hover {
                color: #F5170E;
              }

        .contacts {
          display: inline-block;
          text-align: right;
          margin-left: 512px;
          width: 195px;
        }

          .contacts__phone {
            display: inline-block;
            text-decoration: none;
            color: #fff;
            font-size: 26px;
            line-height: 1;
          }

          .contacts__workhours {
            display: inline-block;
            font-size: 13px;
          }

          .contacts__workhours:hover {
            text-decoration: underline;
            cursor: pointer;
          }

    .description {
      display: block;
      margin-top: 118px;
      width: 510px;
    }

      .description__title {
        font-size: 72px;
        font-weight: 700;
      }

      .description__slogan {
        font-size: 18px;
        margin-top: 20px;
      }

      .button {
        border-radius: 35px;
        border: none;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        cursor: pointer;
      }

      .button--color--red {
        margin-top: 30px;
        padding: 20px 40px;
        background: #F5170E;
        color: #fff;
      }

      .button--color--red:hover {
        background:  #DA0100;
        color: #fff;
      }

    .tours {
      display: block;
      margin-top: 245px;
    }

      .tours__title-elem {
        font-size: 36px;
        font-weight: 700;
      }

      .tours__title-icon {
        margin-left: 12px;
      }

      .tours__list {
        margin-top: 50px;
        width: 1150px;
      }

        .tours__item {
          display: inline-block;
          width: 362px;
          background-color: #fff;
          border-radius: 5px;
          color: #303030;
        }

        .tours__item:nth-child(2) {
          margin: 0 23px;
        }

          .tours__item-title {
            font-size: 24px;
            font-weight: 700;
            color: #000;
            margin: 30px 0 0 22px;
          }

          .condition {
            margin: 20px 0 0 28px;
          }

            .condition__desc {
              display: inline-block;
            }

            .condition__desc:nth-child(1) {
              margin-right: 22px;
            }

              .condition__desc-icon {
                margin-right: 5px;
              }

              .condition__desc-count {
                font-size: 16px;
              }

          .tours__text {
            margin: 18px 16px 5px 22px;
            line-height: 1.5;
          }

          .button--color--white {
            margin: 20px 0 26px 24px;
            padding: 18px 28px;
            background: #fff;
            color:#F5170E;
            border: 1px solid #F5170E;
          }
    
          .button--color--white:hover {
            background: #F5170E;
            color: #fff;
          }

    .news {
      margin-top: 127px;
    }

      .news__title {
        font-size: 36px;
        font-weight: 700;
      }

      .news__list {
        margin-top: 50px;
      }

        .news__item {
          display: inline-block;
          border-radius: 5px;
          width: 557px;
          vertical-align: top;
        }

        .plain {
          background-image: url(../img/plain.png);
        }

        .serf {
          background-image: url(../img/surfer.png);
        }

        .news__item:nth-child(1) {
          margin-right: 22px;
        }

          .news__content {
            margin: 252px 45px 0 30px;
          }
            .news__date {
              font-size: 14px;
            }

            .news__subtitle {
              margin-top: 15px;
              font-size: 24px;
              font-weight: 700;
            }

            .news__text {
              width: 483px;
              margin-bottom: 20px;
              font-size: 16px;
              line-height: 1.5;
              min-height: 50px;
            }

      .pagination {
        display: block;
        margin: 53px auto 0;
        width: 395px;
        text-align: center;
      }

        .pagination__display, .pagination__list {
          display: inline-block;
          vertical-align: middle;
          font-size: 16px;
          line-height: 2;
        }

        .pagination__display {
          margin-right: 25px;
        }

          .pagination__item {
            display: inline-block;
            vertical-align: middle;
            margin-right: 5px;
          }

          .pagination__item:nth-child(7) {
            margin-right: 0;
          }

          .item__active {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            background-color: #fff;
          }

          .item__active .pagination__link {
            color: #F5170E;
            background-color: #fff;
            display: block;
            width: 32px;
            height: 32px;
            line-height: 2;
            text-align: center;
          }

            .pagination__link {
              display: block;
              width: 24px;
              height: 24px;
              line-height: 1.5;
              border-radius: 50%;
              position: relative;
              text-decoration: none;
              font-weight: 700;
            }

    .about {
      margin-top: 145px;
      width: 1140px;
      height: 552px;
    }

      .about__img {
        display: inline-block;
        vertical-align: top;
        border-radius: 5px;
      }

      .about__contetnt {
        display: inline-block;
        vertical-align: top;
        background-image: url(../img/mountains.png);
        border-radius: 5px;
        width: 785px;
        height: min-455px;
        margin-left: -140px;
        margin-top: 97px;
      }

        .about__title {
          margin: 70px 0 0 82px;
          font-size: 36px;
          font-weight: 700;
        }

        .about__text{
          margin: 35px 0 0 82px;
          width: 500px;
          font-size: 16px;
          line-height: 1.69;
        }

        .about__contetnt .button--color--red {
          margin: 43px 0 65px 82px;
        }

    .footer {
      display: block;
      margin-top: 55px;
      margin-bottom: 55px;
      width: 1145px;
      height: 93px;
    }

      .line {
        width: 1142px;
        height: 1px;
        background: #FFFFFF;
        mix-blend-mode: normal;
        opacity: 0.1;
        margin-bottom: 50px;
      }

      .socials {
        display: inline-block;
        vertical-align: top;
        margin-left: 270px;
      }

        .socials__list {
          display: inline-block;
        }

        .socials__item {
          display: inline-block;
          vertical-align: top;
          margin-right: 5px;
        }

        .socials__item:last-child {
          margin-right: 0;
        }

          .socials__link {
            display: block;
            text-decoration: none;
            width: 36px;
            height: 36px;
            background: center center no-repeat;
          }

          .socials__item--icon--telegram .socials__link {
            background-image: url('../img/telegram.png');
          }

          .socials__item--icon--telegram .socials__link:hover {
            background-image: url('../img/telegram-hover.png');
          }

          .socials__item--icon--vk .socials__link {
            background-image: url('../img/vk.png');
          }

          .socials__item--icon--vk .socials__link:hover {
            background-image: url('../img/vk-hover.png');
          }

          .socials__item--icon--facebook .socials__link {
            background-image: url('../img/facebook.png');
          }

          .socials__item--icon--facebook .socials__link:hover {
            background-image: url('../img/facebook-hover.png');
          }

          .socials__item--icon--instagram .socials__link {
            background-image: url('../img/instagram.png');
          }

          .socials__item--icon--instagram .socials__link:hover {
            background-image: url('../img/instagram-hover.png');
          }
    
      .footer .contacts {
        margin-left: 68px;
        line-height: 1;
      }

        .contacts__text {
          font-size: 11px;
          line-height: 1.5;
        }

