.button {
  display: inline-block;
  border-radius: 35px;
  border: 1px solid #F5170E;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

.button--type--primary {
  padding: 18px 40px;
  background-color: #F5170E;
  color: #fff;
}

.button--type--primary:hover {
  background-color: #DA0100;
}

.button--type--secondary {
  padding: 17px 30px;
  background-color: #fff;
  color: #F5170E;
}

.button--type--secondary:hover {
  background-color: #F5170E;
  color: #fff;
}