.contacts {
  display: flex;
  flex-direction: column;
}

.contacts__phone {
  text-decoration: none;
  font-size: 26px;
  line-height: 1;
}

.contacts__workhours {
  font-size: 13px;
  align-self: flex-end;
}

.contacts__workhours:hover {
  text-decoration: underline;
  cursor: pointer;
}

.contacts__text {
  font-size: 11px;
  line-height: 1.5;
  align-self: flex-end;
}