.menu {
  line-height: 3;
}

.menu__list {
  display: inline-flex;
  justify-content: space-between;
}

.menu--header {
  width: 265px;
}

.menu--footer {
  width: 265px;
}

.menu__item--active .menu__link {
  color: #F5170E;
}

.menu__link {
  text-decoration: none;
}

.menu__link:hover {
  color: #F5170E;
  transition: .3s;
}