.footer--socials {
  width: 175px;
  margin-right: 90px;
  /* height: 36px; */
}

.socials__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.socials__item {
  position: relative;
}

.socials__link:after {
  content: '';
  display: inline-block;
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  width: 36px;
  height: 36px;
  background-image: url('../../img/icons/sprites.png');
  transition: .3s;
}

.socials__link--telegram:after {
  background-position: -10px -66px;
}

.socials__link--vk:after {
  background-position: -66px -10px;
}

.socials__link--facebook:after {
  background-position: -10px -10px;
}

.socials__link--instagram:after {
  background-position: -66px -66px;
}

.socials__link:before {
  content: '';
  display: inline-block;
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  width: 36px;
  height: 36px;
  background-image: url('../../img/icons/sprites.png');
  opacity: 0;
  transition: .3s;
}

.socials__link--telegram:before {
  background-position: -10px -66px;
}

.socials__link--vk:before {
  background-position: -66px -10px;
}

.socials__link--facebook:before {
  background-position: -10px -10px;
}

.socials__link--instagram:before {
  background-position: -66px -66px;
}

.socials__link:hover:before {
  opacity: 1;
  filter: invert(.5);
  transition: .3s;
}

.socials__link:hover:after {
  opacity: 0;
  filter: invert(.5);
  transition: .3s;
}