.footer--socials {
  width: 140px;
  min-height: 20px;
  margin-right: 90px;
}

.socials__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.socials__item {
  position: relative;
}

.socials__item:last-child {
  margin-right: 0;
}

.socials__link:before {
  content: " ";
  display: block;
  background: center center no-repeat;
  block-size: cover;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 36px;
  height: 36px;
}

.socials__link--telegram:before {
  background-image: url('../../img/icons/telegram.png');
}

.socials__link--vk:before {
  background-image: url('../../img/icons/vk.png');
}

.socials__link--facebook:before {
  background-image: url('../../img/icons/facebook.png');
}

.socials__link--instagram:before {
  background-image: url('../../img/icons/instagram.png');
}

.socials__link:hover:hover {
  filter: invert(.5);
}